@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.header_wrapper {
  display: flex;
  height: 50px;
  color: white;
  background-color: #1a1818;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;

  .link_list {
    width: 100%;
    display: flex;
    align-items: center;
    ul {
      // border: 1px solid green;
      width: 100%;
      display: flex;
      flex-direction: row;
      li {
        // border: 1px solid blue;
        width: 33%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

//////////// Media Queries ////////////////
