<!-- <div class="carousel-wrapper">
  <div class="carousel">
    <div class="slide"><img src="/img/vid/Sequence+02.mp4" alt="Kids Image1"></div>
    <div class="slide"><img src="/img/img/slide-static-1.jpg" alt="Kids Image2"></div>
    <div class="slide"><img src="/img/vid/Sequence+03.mp4" alt="Kids Image3"></div>
    <div class="slide"><img src="/img/img/slide-static-2.jpg" alt="Kids Image4"></div>
    <div class="slide"><img src="/img/vid/Sequence+03.mp4" alt="Kids Image5"></div>
  </div>

  <div class="kids-carousel-arrows">
    <button type="button" class="kids-carousel-arrow prev-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button type="button" class="kids-carousel-arrow next-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>

  <script type="text/javascript">

      $(".carousel").slick({
        dots: true,
        infinite: true,
        cssEase: "linear"
      });
      $('.prev-arrow').click(function(){
        $(".carousel").slick('slickPrev');
      });
      $('.next-arrow').click(function(){
        $(".carousel").slick('slickNext');
      });

  </script>
</div> -->

<div class="fullscreen-bg">
  <!-- <video id="video" loop muted autoplay class="fullscreen-bg__video">

          <source src="/img/vid/Sequence+02.mp4" type="video/mp4" preload="auto">
          <!-- <source src="video/big_buck_bunny.mp4" type="video/mp4">
          <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
<!--  </video> -->
  <div class="">
    <img src="/img/img/slide-static-1.jpg" id="image" alt="">
  </div>
</div>
