<div class="footer_wrapper">
  <div class="top" id="top">
    <div class="newsletter" id="newsletter">
      <h1>NEWS</h1>
    </div>
    <div class="newsletter_input" id="newsletter_input">
      <input type="text" name="" value="" placeholder="e.g. name@whateverbro.com">
      <button type="button" name="button">SEND</button>
    </div>
  </div>
  <div class="bottom" id="bottom">
    <p id="rights">© 2017-2018 Union Binding Company / Core Srl. All rights reserved. Colico, Italy / Seattle USA</p>
    <img id="logo" src="/img/img/orange.jpg" alt="">
  </div>
</div>
