<div class="header_wrapper" id="header_wrapper">
  <div class="mobile" id="mobile">
    <div class="title" id="title">
      <img src="/img/img/brandlogo-union-highres.png" id="logo" alt="">
      <h1>UNION BINDING CO.</h1>
    </div>
    <div class="ham" id="ham">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>

  <div class="desktop" id="desktop">
    <div class="link_list" id="link-list">
      <ul>  
        <li ui-sref="products">Products &nbsp<i class="fa fa-angle-down"></i></li>
        <li ui-sref="home">Home</li>
        <li ui-sref="team">Team &nbsp<i class="fa fa-angle-down"></i></li>
      </ul>
    </div>
  </div>


</div>
